body {
  background-color: #282c34;
  color: white;
  font-size: 8px;
  font-family: "Cormorant Garamond";
  padding: 2rem;
}

h1 {
  font-weight: 600;
  font-size: 18ch;
}

.App {
  /* text-align: center; */
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

.BookList {
  padding-left: 0;
  margin-left: 0;
}

.BookList li {
  list-style-type: none;
  font-size: 1rem;
}

.AddBook {
  margin-top: 2rem;
  font-size: 1rem;
}

.AddBook label {
  display: block;
}
